  <img class="img-responsive jumbotron" style="padding:0" src='http://res.cloudinary.com/roomieup-com/image/upload/e_grayscale/v1461537309/musicapp/hero_image_music.jpg'/>
  <h1 class="white-text title">Sound Base</h1>
