<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}<span class="glyphicon glyphicon-music"></span>{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
            {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
            {{#link-to 'songs' tagName="li"}}<a href="/songs">Discover</a>{{/link-to}}
            {{#link-to 'uploads' tagName="li"}}<a href="/uploads">Upload</a>{{/link-to}}
            <li><a href=""> <span class="glyphicon glyphicon-backward">  </span></a></li>
            <li><a href=""> <span class="glyphicon glyphicon-play">  </span></a></li>
            <li><a href=""> <span class="glyphicon glyphicon-forward">  </span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
